.about_us_title {
    font-size: 30px;
    align-items: center;
    font-family: 'Irish Grover';
}
.about_stories{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 50%;
    padding: 40px;
    background-color: antiquewhite;
    margin-left: 22%;
    border-radius: 31px 31px 31px 31px;
   -webkit-border-radius: 31px 31px 31px 31px;
   -moz-border-radius: 31px 31px 31px 31px;
}
.about_stories p {
    font-size: 19px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    padding: 12px;
    margin: 5px;
}
.left_side {
    width: 10%;
    padding: 5px;
    height: 12vh;
    background-position: 50%, 25%;
}
.left_side img {
    width: 140%;
    vertical-align: middle;
}
.right_side {
    width: 10%;
    padding: 70px;
    height: 12vh;
    left: 0;
    vertical-align: middle;
}
.right_side img {
    width: 140%;
}