.about_us_title {
    font-size: 30px;
    align-items: center;
    font-family: 'Irish Grover';
}
.about_stories{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0px; 
    align-items: center;
}
.about_stories p {
    font-size: 19px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    padding: 12px;
    margin: 5px;
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
}
.about_stories img {
    width: 20%;
    border-radius: 31% 69% 23% 77% / 66% 18% 82% 34%;
    height: 40vh;                
}
.our_vision {
    display: flex;
    justify-content: space-around;
}
.our_vision p {
    font-size: 19px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    padding: 12px;
    margin: 90px;
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
}
.our_vision img {
    width: 30%;
    margin: 30px;
    height: 40vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    -webkit-border-radius: 44px 44px 44px 44px;
    border: 0px solid #000000;
}
.our_Approach {
    display: flex;
    justify-content: space-around;
}
.our_Approach p {
    font-size: 19px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    padding: 12px;
    margin: 90px;
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
}
.our_Approach img {
    width: 35%;
    margin: 30px;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    -webkit-border-radius: 44px 44px 44px 44px;
    border: 0px solid #000000; 
}
.our_Process  {
    display: flex;
    justify-content: space-around;
}
.our_Process p {
    font-size: 19px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    padding: 12px;
    margin: 90px;
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
}
.our_Process img {
    width: 35%;
    margin: 30px;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    -webkit-border-radius: 44px 44px 44px 44px;
    border: 0px solid #000000; 
     transition: transform .2s;
}
.our_Process img :hover {
    transform: scale(1.5);
}
.sion{
    display: block;
    margin-left: -50%;
    font-family: 'Times New Roman', Times, serif;
}
.sion1{
    display: block;
    margin-left: 50%;
    font-family: 'Times New Roman', Times, serif;
}
.sion2{
    display: block;
    margin-left: -50%;
    font-family: 'Times New Roman', Times, serif;
}



.ranch1 {
    width: 70%;
}