.Agents_pagee {
    margin: 0 auto;
    padding: 0;
    position: relative;
    background-color: rgb(238, 198, 20);
    display: flex;
   justify-content: center;
   justify-content: end;
    
}
.Agents_pagee img {
    margin-left: 20%;
    animation: myAnim 2s ease-in 0s 1 normal forwards;
}
.Agents_pagee h1,p {
    display: block;
    margin-right: 1%;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotateY(-100deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}