.Agents_pagee {
    margin: 0 auto;
    padding: 0;
    position: relative;
    background-color: rgb(24, 23, 22);
    display: flex;
   justify-content: center;
   justify-content: space-evenly;
    
}
.Agents_pagee img {
    margin-left: 10%;
    animation: myAnim 2s ease-in 0s 1 normal forwards;
}
.Agents_pagee p {
    margin-top: 8%;
    font-size: 15px;
}
.Agents_pagee h1 {
    margin-left: 2%;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotateY(-100deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}

.Agents_pageeee {
    display: flex;
    justify-content: center;
}
.Agents_pageeee img {
    width: 33%;
    padding: 90px;
    animation: myAnime 5s ease 0s 1 normal forwards;
}
@keyframes myAnime {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}