.house_page {
    width: 100%;
    margin: auto;
    padding: 0;
}

.house_page img {
    width: 100%;
    height: auto; 
}
.house_ge h2 {
    top: 30%;
    padding-right: 80%; 
    margin-top: -37%;
    font-size: 25px; 
    color: white;

}
.house_ge p {
    margin-top: 1%; 
    color: white;
    font-size: 20px; 
    padding-right: 65%; 
}
.btn{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-right: 82%;
    width: 10%;
    padding: 7px;
    margin-top: 3%;
}


@media screen and (max-width: 992px) {
    .house_page img {
        height: 10vh;
    }

    .house_ge h2 {
        top: 30%;
        padding-right: 70%; 
        margin-top: -75%;
        font-size: 25px;
        color: white; 
    }

    .house_ge p {
        margin-top: 3%; 
        font-size: 18px; 
        padding-right: 40%;
        margin-top: 3%; 
    }
    .btn {
        background-color: black;
        color: white;
        font-size: 15px;
        width: 15%;
        margin-right: 70%;
    }
}


@media screen and (max-width: 600px) {
    .house_page img {
        height: 10vh;
    }

    .house_ge h2 {
        top: 60%;
        padding-right: 10%; 
        margin-top: -40%;
        font-size: 25px; 
    }

    .house_ge p {
        margin-top: 2%; 
        font-size: 18px; 
        padding-right: 10%; 
    }
    .btn {
        background-color: black;
        color: white;
        font-size: 15px;
        width: 15%;
        margin-right: 70%;
    }
}
