* {
    box-sizing: border-box;
}
.house_page {
    width: 100%;
    margin: auto;
    padding-bottom: 55%;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.house_page img {
    width: 100%;
    height: auto; 
}
.house_ge h2 {
    margin-bottom: 6%;
    padding-right: 60%; 
    margin-top: -45%;
    font-size: 50px; 
    color: white;

}
.house_ge p {
    margin-top: -5%; 
    color: white;
    font-size: 25px; 
    padding-right: 55%; 
}
.btn{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-right: 70%;
    width: 15%;
    padding: 15px;
    margin-top: 1%;
}
.show_case1 {
    display: block;
    justify-content: center;
    margin-right: 70%;
    margin-top: 3%;
}
.show_case2 {
    display: block;
    justify-content: center;
    margin-right: 40%;
    margin-top: -7%;
}
.show_case3 {
    display: block;
    justify-content: center;
    margin-right: 10%;
    margin-top: -8%;
}
.show_case1 h1 {
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
.show_case2 h1 {
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
.show_case1 h1 {
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
.show_case2 h4 {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.show_case3 h4 {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.show_case3 h4 {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.search {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: bisque;
    margin-top: 3%;
    width: 60%;
    margin-left: 15%;
    display: flex;
    padding: 5%;
    
}
.search p {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik Burned', system-ui;
    margin-right: 20%;
    font-size: 25px;
}
.search button ,
.properties_search_button,.location_search_button
,.budget_search_button{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 19px;
    margin-left: -50%;
}
.search button {
    margin-top: 5%;
}




@media screen and (max-width: 992px) {
    .house_page img {
        height: 10vh;
    }

    .house_ge h2 {
        top: 30%;
        padding-right: 70%; 
        margin-top: -75%;
        font-size: 25px;
        color: white; 
    }

    .house_ge p {
        margin-top: 3%; 
        font-size: 18px; 
        padding-right: 40%;
        margin-top: 3%; 
    }
    .btn {
        background-color: black;
        color: white;
        font-size: 15px;
        width: 15%;
        margin-right: 70%;
    }
    .show_case1 {
        display: block;
        justify-content: center;
        margin-right: 70%;
        margin-top: 10%;
        
    }
    .show_case2 {
        display: block;
        justify-content: center;
        margin-right: 20%;
        margin-top: -12%;
    }
    .show_case3 {
        display: block;
        justify-content: center;
        margin-right: -20%;
        margin-top: -13%;
    }
    
}


@media screen and (max-width: 600px) {
    .house_page img {
        height: 10vh;
    }

    .house_ge h2 {
        top: 60%;
        padding-right: 10%; 
        margin-top: -40%;
        font-size: 25px; 
    }

    .house_ge p {
        margin-top: 2%; 
        font-size: 18px; 
        padding-right: 10%; 
    }
    .btn {
        background-color: black;
        color: white;
        font-size: 15px;
        width: 15%;
        margin-right: 70%;
    }
}
