.navbar {
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: end;
    gap: 65px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-decoration: none;
    background: linear-gradient(0deg, #acad71 6%, #ffffff 100%);
}
.nav_live {
   color: black; 
   font-size: 16px;
}
.nav_live_btn {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgreen;
}
button {
    color: transparent;
}
button:hover {
    background-color: rgb(238, 198, 20);
}