.navbar {
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: end;
    gap: 40px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-decoration: none;
    background: linear-gradient(0deg, #acad71 6%, #ffffff 100%);
}
.nav_live {
   color: black; 
   font-size: 16px;
}
.nav_live_btn {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 5, 5);
    background-color: beige;
}
.nav_live_btn:hover {
    background-color: rgb(248, 206, 37);
}
/* @media screen and (min-width: 390px){
    .navbar{
        padding: 5px;
        gap: 10px;
    }
    .nav_live_btn{
        font-size: 20px;
    }
    
}
@media screen and (max-width: 600px){
    .navbar{
        padding: 5px;
        gap: 15px;
    }
    .nav_live_btn{
        font-size: 10px;
    }
    
}
@media screen and (max-width: 800px){
    .navbar{
        padding: 5px;
        gap: 35px;
        
    }
    
}
@media screen and (max-width: 1050px){
    .navbar{
        padding: 5px;
        gap: 40px;
        
    }
    
} */